.upload-container {
    display: flex;
    flex: 3;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

    height: 33vh;
    width: 66%;

    margin: 5%;

    border-color: #757575;
    border-radius: 3px;
    border-style: dashed;

    background-color: #f3f3f3;
}

.subheader {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    color: #757575;
}