{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IllumiCheck</title>
    <link rel="stylesheet" href="{% static 'analyze/styles.css' %}">
    <script src="{% static 'analyze/scripts.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="section left-section">
            <div class="upload-area">
                text
            </div>
            <div class="settings">
                other text
            </div>
        </div>
        <div class="section right-section">
            <h1 class="header">Phong lighting feedback</h1>
            <h1 class="header placeholder">results will be displayed here</h1>
        </div>
    </div>
</body>
</html>