/* Layout */
.page-container {
  display: flex;  
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.section {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
}

.section-left {
  margin: 3%;
}

.section-right {
  margin: 1%;
}

/* Main Content */

.text {
  color: #757575;
  font-family: sans-serif;
}

.header-text {
  font-size: 24px;
}

.placeholder-text {
  margin: auto;
}
